/* Including fonts */
@font-face {
  src: url("../../fonts/PlayfairDisplaySC-Regular.ttf");
  font-family: 'Playfair Display SC';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/PlayfairDisplaySC-Bold.ttf");
  font-family: 'Playfair Display SC';
  font-weight: 700; }

@font-face {
  src: url("../../fonts/SFUIText-Light.otf");
  font-family: 'SFUIText';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/SFUIText-LightItalic.otf");
  font-family: 'SFUIText';
  font-weight: 300;
  font-style: italic; }

@font-face {
  src: url("../../fonts/SFUIText-Regular.otf");
  font-family: 'SFUIText';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/SFUIText-ItalicG2.otf");
  font-family: 'SFUIText';
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url("../../fonts/SFUIText-Medium.otf");
  font-family: 'SFUIText';
  font-weight: 500; }

@font-face {
  src: url("../../fonts/SFUIText-Bold.otf");
  font-family: 'SFUIText';
  font-weight: 700; }

@font-face {
  src: url("../../fonts/SFUIText-Heavy.otf");
  font-family: 'SFUIText';
  font-weight: 900; }

@font-face {
  src: url("../../fonts/GothaProReg.otf");
  font-family: 'Gotham';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/SegoeUILight.ttf");
  font-family: 'Segoe UI';
  font-weight: 300; }

@font-face {
  src: url("../../fonts/SegoeUIRegular.ttf");
  font-family: 'Segoe UI';
  font-weight: 400; }

@font-face {
  src: url("../../fonts/SegoeUISemiBold.ttf");
  font-family: 'Segoe UI';
  font-weight: 600; }

@font-face {
  src: url("../../fonts/SegoeUIBold.ttf");
  font-family: 'Segoe UI';
  font-weight: 700; }
